form{
	width: 25%;
	border: 1px solid #ccc;
	margin: 0 auto;
	/*padding: 30px;*/
	background-color: #EED493;
	font-size: 18px;
}

body {
  background-color: #EED493;
}

input, textarea{
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing:border-box;
	box-sizing: border-box;
	border: 1px solid #ccc;
}

input:focus{
	border: 1px solid #1668C4;
}

.boton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #E7793E;
    border-radius: 6px;
    border: 2px solid #0016b0;
    cursor: pointer;
  }


select {
     background: white;
     border: none;
     font-size: 14px;
     height: 30px;
     padding: 5px;
     width: 250px;
  }

/*prueba de estilo en acript jQuery*/
.clasecss{
    background-color: #EA6042;
}